.nothing-found {
  padding: 86px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #f5f6f7;
}

.nothing-found__icon {
  font-size: 72px;
  margin-bottom: 24px;
}

.nothing-found__title {
  margin: 0 0 16px;
  font-size: 26px;
  line-height: 30px;
}

.nothing-found__text {
  max-width: 356px;
  margin: 0;
  color: #b6bcbf;
  font-size: 18px;
  line-height: 24px;
}